.card-folder-picker .fld-header-placeholder {
  height: 5rem;
}

.card-folder-picker .fld-header-placeholder .fld-header-back {
  width: 3em;
  height: 3em;
  background: transparent;
  border: 0;
}

.card-folder-picker .fld-folders-header {
  position: relative;
  display: block;
  clear: both;
  padding: 0.6rem 0 0.6rem 3rem;
  font-size: 1.7rem;
  line-height: 3.8rem;
  color: #5f5f5f;
  background: white;
  border-bottom: 0.1rem solid #dadada;
}

.card-folder-picker.one-account .fld-folders-header {
  height: 0;
  padding: 0;
}

.card-folder-picker.one-account .fld-folders-container {
  transform: translateY(0);
  border-top: 0;
}


.card-folder-picker .slot-machine {
  position: relative;
  overflow: hidden;
  height: calc(100% - 21.8rem);
  background-color: #e7e7e7;
}

.card-folder-picker.one-account .slot-machine {
  height: calc(100% - 14rem);
}

.fld-acct-list-container,
.fld-folders-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0;
}

.fld-acct-list-container {
  background: #e7e7e7;
}

.fld-acct-list-container.closed {

}

.fld-folders-container {
  height: 100%;
  border-top: 1px solid white;
  background-color: #f4f4f4;
}

/* Start of JS adjusted values. If modified, also consult folder_picker.js */
.fld-acct-list-container.closed {
  transform: translateY(calc(-100% + 2rem));
}

.fld-acct-list-container {
  transform: translateY(0);
}

.fld-folders-container {
  background-size: auto auto, 100% 100%;
}

.fld-folders-container.closed {
  transform: translateY(100%);
}

.fld-folders-container {
  transform: translateY(2rem);
  height: calc(100% - 2rem);
}
/* End of JS adjusted values */

.card-folder-picker.one-account .fld-folders-container {
  padding-top: 0;
}

.card-folder-picker,
.card-account-picker {
  background-color: transparent;
  color: white;
}

.fld-nav-toolbar.bottom-toolbar {
  text-align: center;
  background: white;
  color: black;
  bottom: 5.7rem;
  height: 6rem;
  line-height: 6rem;
}

.card-account-picker {
}

.fld-arrow {
  position: absolute;
  right: 1rem;
}

.fld-accounts-header {
}
.fld-accounts-header-label {
  color: red;
}

.fld-account-item, .fld-folder-item, .fld-folder-list-header {
  display: block;
  line-height: 3.5rem;
  padding: 0.6rem 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #858585;
}

.fld-folder-item {
  color: #5f5f5f;
  border-bottom: 0.1rem solid #e3e3e3;
}

.fld-account-item {
  padding-left: 2rem;
  border-bottom: 0.1rem solid #d7d7d7;
  color: #5f5f5f;
}

.fld-account-name {
  font-size: 1.7rem;
  padding: 0 1rem;
}

.fld-account-lastsync {
  color: #c7c7c7;
  font-size: 150%;
  font-weight: normal;
  padding: 0 1rem;
}

.fld-accounts-btn {
  font-size: 1.2rem;
}

.fld-folders-header-account-label {
  display: block;
  width: calc(100% - 5rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fld-account-switch-arrow {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  width: 3rem;
  height: 3.8rem;
  border: 0;
  color: #5F5F5F;
}

.fld-account-switch-arrow {
  background: url(images/icons/arrow_up.png) no-repeat scroll 50% 50% transparent;
}

.fld-folders-header:active .fld-account-switch-arrow {
  background: url(images/icons/arrow_up_press.png) no-repeat scroll 50% 50% transparent;
}

.fld-folders-header.closed .fld-account-switch-arrow {
  background: url(images/icons/arrow_down.png) no-repeat scroll 50% 50% transparent;
}

.fld-folders-header.closed:active .fld-account-switch-arrow {
  background: url(images/icons/arrow_down_press.png) no-repeat scroll 50% 50% transparent;
}

.fld-folder-item:last-child {
  border-bottom: none;
}

.fld-folders-header:active,
.fld-account-item:active,
.fld-folder-item:active,
.fld-folder-list-header:active,
.fld-settings-link:active,
.fld-nav-toolbar:active,
.fld-nav-toolbar:active .fld-settings-link {
  color: white;
  border-color: #00caf2;
  background: #00caf2;
}
.fld-folder-name {
  font-size: 1.7rem;
}
.fld-folder-unread {
  display: none;
}

.fld-folder-depth0 {
  padding-left: 3rem;
}
.fld-folder-depth1 {
  padding-left: 3rem;
}

.fld-folder-depth2 {
  padding-left: 4.5rem;
}
.fld-folder-depth3 {
  padding-left: 6rem;
}
.fld-folder-depth4 {
  padding-left: 7rem;
}
.fld-folder-depth5 {
  padding-left: 8rem;
}
.fld-folder-depthmax {
  padding-left: 9rem;
}

.fld-folder-depthnonzero .fld-folder-name {
  background: url('images/icons/folder_icon.png') center left no-repeat;
  padding-left: 2.2rem;
}

.fld-folder-depthnonzero .fld-folder-name:active,
.fld-folder-depthnonzero:active .fld-folder-name {
  background: url('images/icons/folder_icon_press.png') center left no-repeat;
}

.fld-settings-link {
  display: inline-block;
  height: 6rem;
  padding-left: 2.2rem;
  font-size: 1.6rem;
  background: url("images/icons/settings_icon.png") center left no-repeat;
  color: #858585;
}

.fld-settings-link:active,
.fld-nav-toolbar:active .fld-settings-link {
  background: url("images/icons/settings_icon_press.png") center left no-repeat;
}

.fld-nav-last-synced {
  display: inline-block;
  /* There is 1 button to our left; it is 6rem wide (which includes its padding
     as a result of box-sizing).  It also has complicated border-sizing rules
     from button.css that try and provide each button with fixed spacing. The
     2rem is because we are absolutely positioned 2rem in from the right. */
  max-width: calc(100% - (6rem + (100% - 25rem)/4) - 2rem);
  overflow: hidden;
  position: absolute;
  right: 2rem;
  /* Using ellipsis wastes too much space on overflow; use '' to avoid clipping
     leaving part of a character visible but otherwise not waste space.
     Note that gecko nightly currently won't do the right thing if we use the
     2-value form and try and put our ellipsis on the left; this is probably
     because we are using 2 spans. */
  text-overflow: '';
  white-space: nowrap;
}

